.container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2rem;
}

@media (max-width: 37.5em) {
  .container {
    grid-template-columns: 1fr;
  }
}