.bio {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 4rem;
  color: var(--text);
  line-height: 1.8;
}

.bio h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary);
}

.bio p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
