.masonryGrid {
  display: flex;
  margin-left: -1.5rem; /* gutter size offset */
  width: auto;
}

.masonryColumn {
  padding-left: 1.5rem; /* gutter size */
  background-clip: padding-box;
}

.masonryColumn > * {
  margin-bottom: 1.5rem;
}
