.toggleBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--gray);
  border-radius: 9999px;
  background-color: var(--background);
  color: var(--text);
  transition: all 0.3s ease;
}

.toggleBtn:hover {
  background-color: var(--background-hover);
}
